header(class='lg:max-w-screen-lg lg:w-pem lg:mx-auto relative flex flex-row justify-start items-start mt-10 mb-8 p-8')
  #{`s_${type}_rep_thumbnail`}
    .thumbnail(class='absolute right-0 top-0 w-full h-full bg-b-purple rounded-[12px] [&+.description]:text-b-900')
      //- img(
      //-   src=`[##_${type}_rep_thumbnail_url_##]`
      //-   alt=''
      //-   class='absolute right-0 top-0 w-full h-64 z-0 object-cover')
  .description(class='flex flex-col items-start gap-y-2 z-20 relative mx-4 text-b-900 lg:mx-0')
    unless hasCategory
      case type
        when 'notice'
          a(class='/notice') 공지사항
    else
      div(class='flex flex-row justify-start items-center')
        a(href='[##_article_rep_category_link_##]' class='block leading-none px-3 py-2 mr-2 rounded-full bg-b-deeppurple hover:bg-b-darkpurple') [##_article_rep_category_##]
        div(class='flex gap-x-2 text-b-900/80')
          time(class='text-sm') #{`[##_${type}_rep_date_##]`}
          if hasCategory
            include Header/Admin
    h1(class='text-center font-bold text-xl lg:text-2xl') #{`[##_${type}_rep_title_##]`}
