div(
  class='w-content pl-3 xl:pl-4 pt-3 xl:pt-4 box-border top-0 fixed flex justify-between items-center z-30 <s_if_var_sidebar></s_if_var_sidebar>')
  div
    img.lazyload(
      @click='sidebar = ! sidebar'
      class='rounded-full w-9 h-9 cursor-pointer <s_if_var_sidebar></s_if_var_sidebar>'
      data-src='[##_image_##]'
      data-sizes='auto'
      alt='[##_blogger_##]'
      width='36'
      height='36')
  div
    div(class='m-0 text-sm font-bold h-5 text-overflow-hidden max-w-[calc(80vw-152px)] text-h-200') [##_page_title_##]
  //- div
  //-   button.subscription(
  //-     :data-blog-id='T.config.BLOG.id'
  //-     :data-url='TistoryBlog.tistoryUrl'
  //-     class='flex justify-center items-center w-10 h-10 outline-0 rounded-full text-b-white border border-b-400 bg-b-200 hover:bg-b-300 btn_menu_toolbar btn_subscription #subscribe')
  //-     span(class='text-hidden') 구독하기
  //-     i(class='fa-solid fa-star font-bold text-sm')

script.
  document.addEventListener('alpine:init', () => Alpine.data('top', () => ({
    /**
     * @property {boolean} open
     */
    open: true,

    /**
     * Init
     */
    init () {
      if (! this.hasScrollBar()) {
        return
      }

      this.toggle()
    },

    /**
     * Toggle
     */
    toggle () {
      this.$targets.forEach(el => {
        if (document.body.contains(el)) {
          this.open = el.getBoundingClientRect().top < 0
        }
      })
    },

    /**
     * Has scroll bar on html
     *
     * @returns {boolean}
     */
    hasScrollBar () {
      return document.documentElement.scrollHeight > document.documentElement.clientHeight
    },

    /**
     * targets
     *
     * @returns {Array<HTMLElement>}
     */
    get $targets () {
      return [this.$refs.list, this.$refs.content]
    }
  })))
