.sidebar-element
  div(class='text-center flex flex-row items-center my-2')
    img(
      src='[##_image_##]'
      width='40'
      height='40'
      alt='[##_blogger_##]'
      class='rounded-full')
    div(class='flex flex-row justify-start items-end pl-3')
      a.link_tit(
        href='[##_blog_link_##]'
        class='text-h-200 dark:text-b-900 inline-block font-medium') [##_title_##]
      div(class='text-h-500 dark:text-b-700 text-sm pl-2') @[##_blogger_##]
