div(class='border-t border-b border-dotted border-h-600 dark:border-b-400 mt-8 py-5 flex items-center')
  img.lazyload(
    data-src='[##_image_##]'
    data-sizes='auto'
    width='40'
    height='40'
    alt='[##_blogger_##]'
    class='rounded-full w-10 h-10 mr-4')
  div(class='flex flex-row items-end')
    div(class='text-h-200 dark:text-b-900 font-bold mr-2') [##_title_##]
    div(class='text-sm text-h-400 dark:text-b-700 mr-6') @[##_blogger_##]
    div(class='text-sm text-h-200 dark:text-b-900') [##_desc_##]
